mysql:
    host: "localhost"
    database: qianka
    user: 
    password: 
    time_zone: "+8:00"

redis:
    host: "127.0.0.1"
    port: 6379

tornado:
    debug: True
    autoreload: True
        
duiba:
    appKey: "2x1LvFvWiHu1DNapk6nKbaQgZQak"
    appSecret: "g96bgb6tGvUzwsw9JoqjSttLhd3"
