<html>
<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
</head>
<body>
<table>
                <caption>{{ data['qdate'] }} 积分墙赚取数据（总下载:{{ data['total'] }}）</caption>
                    <thead>
                        <tr>
                            <th>uid</th>
                            <th>时间</th>
                            <th>应用名称</th>
                            <th>积分</th>
                            <th>单价</th>
                            <th>订单号</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for d in data['orders']['data'] %}
                        <tr>
                            <td>{{ d.uid }}</td>
                            <td>{{ d['create_time'] }}</td>
                            <td>{{ d['ad'] }}</td>
                            <td>{{ d['points'] }}</td>
                            <td>{{ d['price'] }}</td>
                            <td>{{ d['order'] }}</td>
                        </tr>
                    {% end %}
                    </tbody>
                </table>
</body>
</html>
